# Git
.git
.gitignore

# Environment
.env
.env.*

# macOS
.DS_Store

# Python cache & bytecode
__pycache__/
*.py[cod]
*.pyd

# Model weights and checkpoints
*.pt
*.pth
checkpoints/

# Data and experiment logs
data/
wandb/

# Misc
README.md
